<%= form_for :question  do |f| %>
  <div class="field from-group">
    <%= f.label 'Enter the Question' %><br/>
    <%= f.text_field :questions, autofocus: true, required:true %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary " %>
  </div>
<% end %>
