<h1>Employee Performance Review System</h1>
<h1>Welcome Hr to The Active HR</h1>
<%= link_to  'Create Employee' %> <br>
<%= link_to 'Create Manager' %> <br>



<%= link_to "Sign Out", destroy_user_session_path  ,method:'delete' %>

